In [1]:
# Dependencies
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june = session.query(Measurement.date, Measurement.tobs).\
    filter(extract('month', Measurement.date)== 6).all()

In [5]:
#  3. Convert the June temperatures to a list.
june_temps=list((june))

In [6]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_temps_df = pd.DataFrame(june_temps, columns=['date', 'June Temps'])

In [7]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temps_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [8]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec = session.query(Measurement.date, Measurement.tobs).\
    filter(extract('month', Measurement.date)== 12).all()

In [9]:
# 7. Convert the December temperatures to a list.
dec_temps = list((dec))

In [12]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_temps_df = pd.DataFrame(dec_temps, columns=['date', 'Dec Temps'])

In [13]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_temps_df.describe()

         Dec Temps
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

## D3: Additional Queries for March, September, June & December

In [22]:
# Adding Precipitation and Temps to March
march_temp_prcpt = session.query(Measurement.date, Measurement.tobs, Measurement.prcp).\
    filter(extract('month', Measurement.date)== 3).all()
march_temp_prcpt=list((june_temp_prcpt))
march_temp_prcpt_df = pd.DataFrame(march_temp_prcpt, columns=['date', 'March Temps', 'March Precip'])
march_temp_prcpt_df.describe()

       March Temps  March Precip
count  1700.000000   1574.000000
mean     74.944118      0.136360
std       3.257417      0.335731
min      64.000000      0.000000
25%      73.000000      0.000000
50%      75.000000      0.020000
75%      77.000000      0.120000
max      85.000000      4.430000

In [23]:
# Adding Precipitation to June Temps
june_temp_prcpt = session.query(Measurement.date, Measurement.tobs, Measurement.prcp).\
    filter(extract('month', Measurement.date)== 6).all()
june_temp_prcpt=list((june_temp_prcpt))
june_temp_prcpt_df = pd.DataFrame(june_temp_prcpt, columns=['date', 'June Temps', 'June Precip'])
june_temp_prcpt_df.describe()

        June Temps  June Precip
count  1700.000000  1574.000000
mean     74.944118     0.136360
std       3.257417     0.335731
min      64.000000     0.000000
25%      73.000000     0.000000
50%      75.000000     0.020000
75%      77.000000     0.120000
max      85.000000     4.430000

In [24]:
# Adding Precipitation and Temps to September
sept_temp_prcpt = session.query(Measurement.date, Measurement.tobs, Measurement.prcp).\
    filter(extract('month', Measurement.date)== 9).all()
sept_temp_prcpt=list((june_temp_prcpt))
sept_temp_prcpt_df = pd.DataFrame(sept_temp_prcpt, columns=['date', 'Sept Temps', 'Sept Precip'])
sept_temp_prcpt_df.describe()

        Sept Temps  Sept Precip
count  1700.000000  1574.000000
mean     74.944118     0.136360
std       3.257417     0.335731
min      64.000000     0.000000
25%      73.000000     0.000000
50%      75.000000     0.020000
75%      77.000000     0.120000
max      85.000000     4.430000

In [25]:
# Adding Precipitation to December Temps
dec_temp_prcpt = session.query(Measurement.date, Measurement.tobs, Measurement.prcp).\
    filter(extract('month', Measurement.date)== 12).all()
dec_temp_prcpt=list((dec_temp_prcpt))
dec_temp_prcpt_df = pd.DataFrame(dec_temp_prcpt, columns=['date', 'Dec Temps', 'Dec Precip'])
dec_temp_prcpt_df.describe()

         Dec Temps   Dec Precip
count  1517.000000  1405.000000
mean     71.041529     0.216819
std       3.745920     0.541399
min      56.000000     0.000000
25%      69.000000     0.000000
50%      71.000000     0.030000
75%      74.000000     0.150000
max      83.000000     6.420000

In [29]:
temp_prcpt_df = pd.concat([march_temp_prcpt_df,june_temp_prcpt_df,sept_temp_prcpt_df,dec_temp_prcpt_df], axis='columns')
temp_prcpt_df.describe()

,March Temps,March Precip,June Temps,June Precip,Sept Temps,Sept Precip,Dec Temps,Dec Precip
count,1700.000000,1574.000000,1700.000000,1574.000000,1700.000000,1574.000000,1517.000000,1405.000000
mean,74.944118,0.136360,74.944118,0.136360,74.944118,0.136360,71.041529,0.216819
std,3.257417,0.335731,3.257417,0.335731,3.257417,0.335731,3.745920,0.541399
min,64.000000,0.000000,64.000000,0.000000,64.000000,0.000000,56.000000,0.000000
25%,73.000000,0.000000,73.000000,0.000000,73.000000,0.000000,69.000000,0.000000
50%,75.000000,0.020000,75.000000,0.020000,75.000000,0.020000,71.000000,0.030000
75%,77.000000,0.120000,77.000000,0.120000,77.000000,0.120000,74.000000,0.150000
max,85.000000,4.430000,85.000000,4.430000,85.000000,4.430000,83.000000,6.420000